---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/gunnar-portrait.png";

const meta = {
	title: "About",
	description: "dr Gunnar Mallon",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p class="mb-4">
			Hi, I'm an assistant professor in Physical Geography at the University of Groningen,
			researching palaeoecology and AI technology in environmental science. Althought my work
			focuses on peatland ecology, and I'm passionate about exploring the intersection of technology
			and the natural environment. From AI art to Python programming, I love discovering innovative
			ways to better understand our environment. Whether you're a fellow researcher or simply
			curious about the natural world, join me on this exciting journey!
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				class="my-4 w-1/2 rounded-full border border-accent"
			/>
		</div>
		<p>Current projects:</p>
		<ul class="list-inside list-disc">
			<li>ARCADE - AI-Rendered Content for Advanced Digital Education</li>
			<li>GAIRE - Generative AI in Research and Education</li>
			<li>Space Cactus - Minimalist Theme for Astro</li>
			<li>Whimsical Inkwater - Stable Diffusion Model</li>
		</ul>
		<p>Recent projects:</p>
		<ul class="list-inside list-disc">
			<li>LOWPERM - Lowland Permafrost biogeochemistry</li>
			<li>PRECIP - Holocene climate reconstruction on the North Atlantic seaboard</li>
			<li>End of the Optimum - Mid-Holocene climate maximum in NW Europe</li>
		</ul>
	</div>
</PageLayout>
