---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import CardList from "@/components/CardList";
import Card from "@/components/Card";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

import card1 from "../assets/images/landscape1.jpg";
import card2 from "../assets/images/landscape2.jpg";
import card3 from "../assets/images/landscape3.jpg";
---

<PageLayout meta={{ title: "Academic musings" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi there and welcome to my digital portfolio! I'm passionate of AI and palaeoecology, and I'm
			thrilled to be able to share my passion with you. Here, you'll find a collection of my work,
			including some beautiful AI-generated art, exciting research, informative tutorials, and even
			some online courses.
		</p>
		<p class="mb-4">
			My goal is to inspire and educate others about the amazing potential of this rapidly-evolving
			field. Whether you're an AI enthusiast like me, a budding programmer, or just curious about
			the future of technology, there's something here for everyone. So, let's explore the world of
			AI together!
		</p>
		<SocialList />
	</section>
	<section>
		<CardList cards="sm:grid-cols-3">
			<Card title={"Generative Art"} image={card1} link={"generative"}>
				Promts, models, LORA, tips, tricks, and lots of artwork. All images are made with <a
					href="https://stability.ai/">Stable Diffusion.</a
				>
			</Card>
			<Card title={"Tutorial Videos"} image={card2} link={"videos"}>
				A selection of tutorials covering, generative ai, coding tips, academia, and the odd food
				recipe.
			</Card>
			<Card title={"Full Courses"} image={card3} link={"courses"}>
				A series of full courses, covering Python, AI, Stable Diffusion, and Environmental Science
			</Card>
		</CardList>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Featured Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Courses</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a href="/courses" class="cactus-link inline-block">Programming</a>:
				<p class="inline-block sm:mt-2">Python for Academia - From Zero to Hero</p>
			</li>
			<li>
				<a href="/courses" class="cactus-link inline-block">Spatial Analysis</a>:
				<p class="inline-block sm:mt-2">Using machine learning and AI in spatial sciences.</p>
			</li>
			<li>
				<a href="/courses" class="cactus-link inline-block">Git and Github</a>:
				<p class="inline-block sm:mt-2">All you ever need to know about Git and Github.</p>
			</li>
			<li>
				<a href="/courses" class="cactus-link inline-block">Generative AI</a>:
				<p class="inline-block sm:mt-2">Using Stable Diffusion in business and research</p>
			</li>
			<li>
				<a href="/courses" class="cactus-link inline-block">Astro</a>:
				<p class="inline-block sm:mt-2">Building super fast websites with partial hydration</p>
			</li>
		</ul>
	</section>
</PageLayout>
