---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import CardList from "@/components/CardList";
import Card from "@/components/Card";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Welcome to my digital portfolio! As an AI enthusiast, researcher, and educator, I'm excited to
			showcase my passion for all things AI and palaeo. Through stunning AI art, groundbreaking
			research, tutorial videos, and full online courses, I aim to inspire and educate others on the
			limitless possibilities of this rapidly growing field.
		</p>
		<p class="mb-4">
			Whether you're a fellow AI enthusiast, an aspiring programmer, or simply curious about the
			future of technology, you're sure to find something engaging and thought-provoking here. So,
			come along on this journey with me and let's explore the exciting world of AI together!
		</p>
		<SocialList />
	</section>
	<section>
		<CardList>
			<Card title={"Generative Art"} image={"/landscape1.png"} link={"#"}>
				Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
				chronological order
			</Card>
			<Card title={"Tutorial Videos"} image={"/landscape2.png"} link={"#"}>
				Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
				chronological order
			</Card>
			<Card title={"Full Courses"} image={"/landscape3.png"} link={"#"}>
				Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse
				chronological order
			</Card>
		</CardList>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Featured Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Courses</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Programming
				</a>:
				<p class="inline-block sm:mt-2">Python for Academia - From Zero to Hero</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Spatial Analysis
				</a>:
				<p class="inline-block sm:mt-2">Using machine learning and AI in spatial sciences.</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Git and Github
				</a>:
				<p class="inline-block sm:mt-2">All you ever need to know about Git and Github.</p>
			</li>
			<li>
				<a
					href="https://www.markdownguide.org/"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Generative AI
				</a>:
				<p class="inline-block sm:mt-2">Using Stable Diffusion in business and research</p>
			</li>
			<li>
				<a
					href="https://github.com/vercel/satori"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Building super fast websites with partial hydration</p>
			</li>
		</ul>
	</section>
</PageLayout>
